@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Libertinus Serif';
  font-weight: 400;
  src: url('../fonts/LibertinusSerif-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Libertinus Sans';
  font-weight: 400;
  src: url('../fonts/LibertinusSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}


html {
  @apply bg-bgGrey text-fontGrey !important
}

.MuiDataGrid-main {
  @apply text-fontGrey font-sans text-base
}

.MuiDataGrid-root{
  @apply border-none border-0 !important
}

.MuiTypography-h4 {
  @apply font-serif
}
.MuiTypography-subtitle1 {
  @apply font-serif text-lg
}

.MuiSvgIcon-root {
  @apply text-fontGrey
}

.MuiPaper-root {
  @apply text-fontGrey bg-bgGrey
}

.MuiGridPanel-paper {
  @apply bg-bgGrey !important
}

.MuiDataGridPanelHeader-root {
  @apply hidden
}

.MuiGridFilterForm-root {
  @apply bg-white
}
.MuiSvgIcon-root {
  @apply text-gray-400 !important
}

a{
  @apply hover:underline
}

.MuiDataGrid-columnHeader {
  @apply border-b-2
}
.MuiDataGrid-columnsContainer {
  @apply border-b-0 !important
}

.MuiDataGrid-cell {
  @apply border-r-0 !important
}

.linkImg {
  @apply w-7 h-7 block ml-2
}

.MuiTablePagination-root {
  @apply text-fontGrey font-serif !important
}

.MuiDataGrid-footerContainer > div:nth-child(1) {
  @apply hidden !important
}

.MuiButton-text {
  @apply text-blue-400 !important
}

.MuiDataGrid-columnHeaderTitleContainer {
  @apply p-0 !important
}

.Component-root-3 {
  @apply font-serif text-fontGrey !important
}