# This is a basic workflow to help you get started with Actions

name: Update Pages

# Controls when the action will run. 
on:
#   schedule:
#     - cron:  '*/30 * * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
   
    - name: Checkout script repo
      uses: actions/checkout@v2
            
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests croniter pytz pandas firebase_admin

    - name: Update Pages
      run: python ./data/main.py --info --pages
      env:
          WOW_CLIENT_ID: ${{ secrets.WOW_CLIENT_ID }}
          WOW_CLIENT_SECRET: ${{ secrets.WOW_CLIENT_SECRET }}
      
    - name: Commit files
      run: |
        git config user.name Scraper
        git add .
        git commit -m "Updated Pages `date +'%Y-%m-%d %H:%M:%S'`" || echo "Nothing to commit"
        git pull origin main -s recursive -X ours --rebase
        git push origin main
